.tag {
  display: inline-block;
  background-color: #a6a9ac;
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 0.5em;
  margin-right: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
